@import 'fonts.css';
@import 'icons.css';

*::before,
*::after{
    font-family: 'icons';
}
:root{
    --montserrat: 'montserrat';
    --trebuchet: 'trebuchet';
    --purple: #7177f1;
    --purple-dark: #790ff1;
    --purple-light: #9297ef;
    --dark: #323232;
    --white: #fff;
    --theme-bg: #fff;
    --info-p-bg: #fff;
    --black: #000;
    --gray: #828282;
    --gray-light: #ddd;
    --green: #0fdac2;
    --footer-text: #7177f1;

    --purple-shadow-50: 0 0 5px 1px rgba(113, 119, 241, .5);
    --purple-shadow-15: 0 0 5px 3px rgba(113, 119, 241, .15);
    --black-shadow-35: 0 0 2px rgba(0, 0, 0, .35);
}
/* theme смена темы */
@media (prefers-color-scheme: dark){
    :root{
        /* --theme-bg: #151437; */
        /* --dark: #fff; */
        /* --info-p-bg: #7177f1; */
        /* --gray: #ebebeb; */
        /* --footer-text: #fff; */
    }
}
button{
    outline: none !important;
}
/* .navbar */
.navbar{
    width: 100%;
    padding: 0;
}
.navbar-brand{
    padding: 0 46px 0 40px;
    margin: 18px 0;
    font-family: var(--trebuchet);
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
}
.navbar-brand__my{
    color: var(--purple);
    display: flex;
    align-items: center;
}
.navbar-brand__work{
    color: var(--dark);
    font-style: italic;
    display: flex;
}
.navbar-brand::before,
.navbar-brand::after{
    width: 36px;
    height: 2px;
    position: absolute;
    content: '';
}
.navbar-brand::after{
    right: 0;
    background: var(--purple);
    filter: blur(2px);
}
.navbar-brand::before{
    left: 0;
    bottom: 5px;
    background: var(--dark);
}
.navbar-brand__work::before,
.navbar-brand__work::after,
.navbar-brand__my::after{
    width: 27px;
    height: 2px;
    position: absolute;
    content: '';
}
.navbar-brand__work::before,
.navbar-brand__work::after{
    right: 5px;
    background: var(--purple);
    filter: blur(1px);
}
.navbar-brand__work::before{
    bottom: 5px;
}
.navbar-brand__work::after{
    top: 5px;
}
.navbar-brand__my::after{
    left: 11px;
    background: var(--dark);
}
.navbar-brand__my::before{
    width: 18px;
    height: 2px;
    background: var(--dark);
    content: '';
    position: absolute;
    left: 23px;
    top: 5px;
}
.navbar__list{
    display: flex;
    align-items: center;
}
.navbar__list a{
    padding: 10px 30px;
    color: var(--purple);
    text-decoration: none;
}
.navbar__list a,
.navbar__order{
    font-size: 24px;
    line-height: 16px;
    font-family: var(--montserrat);
    font-weight: 400;
    text-transform: capitalize;
}
.navbar__order{
    border: none;
    outline: none;
    background: var(--purple);
    box-shadow: var(--purple-shadow-50);
    border-radius: 8px;
    color: var(--white);
    padding: 10px 43px;
}
.navbar-toggler{
    padding: 5px 20px;
    border: 2px solid transparent;
    border-image: 1 linear-gradient(130deg, var(--purple), var(--dark) 60%);
    outline: none;
    font-family: var(--trebuchet);
    font-weight: 700;
    color: var(--purple);
    text-transform: uppercase;
    font-size: 24px;
    line-height: 18px;
}
.navbar-toggler:focus{
    box-shadow: var(--purple-shadow-50);
}
/* modal */
.modal-content{
    border: 2px solid var(--purple);
}
.modal-header,
.modal-footer{
    border: none;
}
.modal-title{
    font-size: 20px;
    font-family: var(--montserrat);
    font-weight: 700;
    color: var(--purple);
}
.btn__send{
    padding: 5px 20px;
    border: 2px solid var(--purple);
    font-weight: 700;
    font-family: var(--trebuchet);
    text-transform: uppercase;
    font-size: 20px;
    background: transparent;
    color: var(--purple);
    line-height: 18px;
    transition: background .5s, color .5s;
}
.btn__send:hover{
    background: var(--purple);
    color: var(--white);

}
.modal-body input,
.modal-body textarea{
    border: none;
    border-bottom: 2px solid var(--purple);
    width: 100%;
    padding: 10px 0;
    font-family: var(--montserrat);
    font-weight: 600;
    color: var(--dark);
    font-size: 18px;
    margin-bottom: 5px;
}
.modal-body textarea{
    /* resize у техта арии убирает ползунок и не дает вытягиватся по высоте */
    resize: none;
    height: 180px;
}
.modal-body input:focus,
.modal-body textarea:focus{
    outline: none;
    border-bottom-color: var(--dark);
}
.modal-body input::placeholder,
.modal-body textarea::placeholder{
    color: var(--purple);
    text-transform: capitalize;
}
/* carousel */
.carousel{
    width: 100%;
}
.carousel-item{
    padding: 26px 0 50px;
    height: 565px;
}
.carousel-item h5{
    font-family: var(--montserrat);
    font-weight: 600;
    color: var(--dark);
    font-size: 24px;
    line-height: 22px;
    margin: 20px 0 10px;
    padding-left: 18%;
    width: 100%;
    text-transform: capitalize;
}
.carousel-item h3{
    font-size: 40px;
    line-height: 50px;
    padding-left: 18%;
    margin-bottom: 25px;
    font-family: var(--montserrat);
    font-weight: 600;
    color: var(--purple);
    text-transform: capitalize;
}
.btn__start--now{
    padding: 12px 58px;
    border-radius: 8px;
    background: var(--purple);
    color: var(--white);
    line-height: 20px;
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 50px;
    box-shadow: var(--purple-shadow-50);
    text-transform: uppercase;
    text-decoration: none;
}
.btn__start--now:hover{
    color: var(--white);
}
.slide__icon{
    height: 90px;
    margin-bottom: 15px;
}
.carousel-item p{
    font-family: var(--montserrat);
    font-weight: 900;
    color: var(--purple);
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
}
.carousel-item__slide{
    width: 100%;
}
.carousel-indicators li{
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    margin: 0 15px !important;
    background: var(--gray) !important;
    border: none !important;
    opacity: 1 !important;
}
.carousel-indicators{
    margin: 0 !important;
}
.carousel-indicators .active{
    background: var(--purple) !important;
}
/* info */
.info,
.capabilities,
.works{
    width: 100%;
    padding-top: 75px;
}
.info__img,
.info__content{
    width: 100%;
    height: 100%;
}
.info__img{
    text-align: center;
    position: relative;
}
.info__img img{
    width: 80%;
    height: 100%;
    object-fit: contain;
}
.info__img p{
    position: absolute;
    top: 24px;
    left: 0;
    background: var(--info-p-bg);
    padding: 23px 25px;
    width: max-content;
    border-radius: 8px;
    box-shadow: var(--purple-shadow-50);
    margin: 0;
    font-family: var(--montserrat);
    font-weight: 400;
    color: var(--dark);
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}
.info__img span{
    position: absolute;
    top: -14px;
    right: -10px;
    width: 40px;
    height: 40px;
    background: var(--green);
    border-radius: 50%;
    color: var(--white);
    font-weight: 700;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info__content{
    box-shadow: var(--purple-shadow-15);
    padding: 30px;
    background: var(--theme-bg);
    border-radius: 8px;
}
.info__content h3{
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 25px;
    text-transform: capitalize;
    color: var(--purple);
}
.info__content p{
    font-family: var(--montserrat);
    font-weight: 400;
    color: var(--dark);
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.info__content--btn{
    padding: 13px 33px;
    display: inline-flex;
    border-radius: 8px;
    background: var(--purple);
    color: var(--white);
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0 0 20px 80px;
    text-decoration: none;
}
.info__content--btn:hover{
    color: var(--white);
}
/* capabilities */
.capabilities__img,
.capabilities__accordion{
    width: 100%;
    height: auto;
}
.capabilities__accordion{
    box-shadow: var(--purple-shadow-15);
    border-radius: 8px;
    overflow: hidden;
    background: var(--theme-bg);
}
.capabilities__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.capabilities h2,
.works h2{
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: var(--purple);
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
}
button.accordion-item__btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    outline: none;
    border: none;
    font-family: var(--montserrat);
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--white);
    background: var(--purple);
    position: relative;
}
.accordion-item button img{
    height: 30px;
    margin-right: 20px;
}
button.accordion-item__btn.collapsed{
    background: var(--theme-bg);
    color: var(--purple);
}
.accordion-item__btn span{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    position: relative;
}
.accordion-item__btn span::before{
    width: 100%;
    height: 2px;
    position: absolute;
    content: '';
    background: var(--purple);
    left: 0;
    bottom: 0;
    border-radius: 8px;
}
.accordion-item__btn.collapsed span::before{
    background: var(--gray-light);
}
.accordion-item__btn svg{
    position: absolute;
    right: 30px;
    fill: var(--white);
    transform: rotate(0);
    transition: transform .4s;
}
.accordion-item__btn.collapsed svg{
    fill: var(--purple);
    transform: rotate(180deg);
}
.accordion__content{
    padding: 10px 30px;
    background: var(--purple);
    color: var(--white);
    font-size: 18px;
    font-family: var(--montserrat);
}
/* media */
@media (max-width: 1399.9px) {}
@media (max-width: 1199.9px) {
    .wrapp{
        background-image: none;
    }
}
@media (max-width: 991.9px) {
    .navbar__list{
        flex-direction: column;
        align-items: flex-end;
        border: 2px solid var(--purple);
        padding: 20px;
        border-radius: 20px 0  20px 20px;
        width: max-content;
        background: var(--white);
    }
    .navbar__list a{
        padding: 10px 0;
    }
    .carousel-item__slide{
        display: none;
    }
}
@media (max-width: 767.9px) {
    .tab-pane img{
        height: 300px;
        object-fit: cover;
        object-position: top;
        margin-bottom: 30px;
    }
    .tab-pane h3{
        text-align: center;
    }
    .tab-pane p{
        text-align: justify;
    }
    .tab-pane__btn{
        margin: 0;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 575.9px) {
    .carousel-item h5,
    .carousel-item h3{
        padding-left: 0;
        text-align: center;
    }
    .info__img{
        display: none;
    }
    .info__content{
        text-align: center;
    }
    .info__content h3{
        font-size: 30px;
    }
    .info__content--btn{
        margin-left: 0;
    }
}
@media (max-width: 480px) {
    .navbar-toggler,
    .navbar-brand__work,
    .navbar-brand__my{
        font-size: 18px;
    }
    .carousel-item h3{
        font-size: 30px;
        line-height: 30px;
    }
    .btn__start--now{
        padding: 12px 40px;
    }
    .slide__icon{
        height: 50px;
    }
    .carousel-item p{
        font-size: 13px;
        font-weight: 600;
    }
    .carousel-item{
        height: auto;
    }
}
@media (max-width: 320px) {

}